@define-color white #e0def4;
@define-color base #191724;
@define-color text #e0def4;
@define-color blue #9ccfd8;
@define-color overlay0 #6e6a86;
@define-color surface0 #26233a;
@define-color green #31748f;
@define-color yellow #f6c177;
@define-color red #eb6f92;
@define-color surface1 #403d52;
@define-color shadow rgba(0, 0, 0, 0.3);
