@define-color white #cdd6f4;
@define-color base #1e1e2e;
@define-color text #cdd6f4;
@define-color blue #89b4fa;
@define-color overlay0 #6c7086;
@define-color surface0 #313244;
@define-color green #a6e3a1;
@define-color yellow #f9e3af;
@define-color red #f38ba8;
@define-color surface1 #45475a;
@define-color shadow rgba(0, 0, 0, 0.3);
